<h2>Press these buttons to seed your roles and users!</h2>
<a asp-action="SeedGenres" asp-controller="Seed" class="btn btn-primary">Seed Genres</a>

<a asp-action="SeedMovies" asp-controller="Seed" class="btn btn-primary">Seed Movies</a>

<a asp-action="SeedPrices" asp-controller="Seed" class="btn btn-primary">Seed Prices</a>

<a asp-action="SeedShowtimes" asp-controller="Seed" class="btn btn-primary">Seed Showtimes</a>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedPeople" asp-controller="Seed" class="btn btn-primary">Seed People</a>

<a asp-action="SeedReviews" asp-controller="Seed" class="btn btn-primary">Seed Reviews</a>

<a asp-action="SeedOrders" asp-controller="Seed" class="btn btn-primary">Seed Orders</a>

<a asp-action="SeedOrderDetails" asp-controller="Seed" class="btn btn-primary">Seed Order Details</a>

<a asp-action="ClearDataBase" asp-controller="Seed" class="btn btn-info">CLEAR DATABASE</a>

