<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/91f3977b-1c01-4c98-b0f4-04a23e6e61a4/resourceGroups/fa23Group26FinalProject/providers/Microsoft.Web/sites/Group-26-Final-Project</ResourceId>
    <ResourceGroup>fa23Group26FinalProject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://group-26-final-project.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://group-26-final-project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Group-26-Final-Project</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>