@model Group_26_Final_Project.Models.Showtime

@{
    ViewData["Title"] = "Copy Schedule Two";
}

<h1>Copy Schedule Two</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CopyScheduleTwo">
            <div class="form-group">
                <label class="control-label">Day to Copy From</label>
                @Html.DropDownList("copyday", (SelectList)ViewBag.copyday, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Day to Copy To</label>
                @Html.DropDownList("pasteday", (SelectList)ViewBag.pasteday, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="radio" class="radio" asp-for="Theater" value="@Theater.Theater1" />Theater 1<br />
                <input type="radio" class="radio" asp-for="Theater" value="@Theater.Theater2" />Theater 2<br />
                <span asp-validation-for="Theater" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


