@model ChangeEmployeePasswordViewModel

@{
    ViewData["Title"] = "Change Employee Password";
}

<h1>Change Employee Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeEmployeePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewEmployeePassword" class="control-label"></label>
                <input asp-for="NewEmployeePassword" class="form-control" />
                <span asp-validation-for="NewEmployeePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmEmployeePassword" class="control-label"></label>
                <input asp-for="ConfirmEmployeePassword" class="form-control" />
                <span asp-validation-for="ConfirmEmployeePassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Employee Password" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Email" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="IndexEmployee">Back to Employee List</a>
</div>