@model ChangeManagerPasswordViewModel

@{
    ViewData["Title"] = "Change Manager Password";
}

<h1>Change Manager Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeManagerPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewManagerPassword" class="control-label"></label>
                <input asp-for="NewManagerPassword" class="form-control" />
                <span asp-validation-for="NewManagerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmManagerPassword" class="control-label"></label>
                <input asp-for="ConfirmManagerPassword" class="form-control" />
                <span asp-validation-for="ConfirmManagerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Manager Password" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Email" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="IndexManager">Back to Manager List</a>
</div>