@model ChangeCustomerPasswordViewModel

@{
    ViewData["Title"] = "Change Customer Password";
}

<h1>Change Customer Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeCustomerPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewCustomerPassword" class="control-label"></label>
                <input asp-for="NewCustomerPassword" class="form-control" />
                <span asp-validation-for="NewCustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmCustomerPassword" class="control-label"></label>
                <input asp-for="ConfirmCustomerPassword" class="form-control" />
                <span asp-validation-for="ConfirmCustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Customer Password" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Email" />
        </form>
    </div>
</div>

<div>
    <a asp-controller="Account" asp-action="IndexCustomer">Back to Customer List</a>
</div>