@model Group_26_Final_Project.Models.Order

@{
    ViewData["Title"] = "SelectShowtime";
}

<h1>Select a movie showtime!</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChooseShowtime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.OrderID)
            <div class="form-group">
                <label class="control-label">Showtimes for @ViewBag.MovieName:</label>
                @Html.DropDownList("SelectedShowtime", (SelectList)ViewBag.AllShowtimes, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-orderID="@Model.OrderID">Back to List</a>
</div>

